.currencyCard {
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: stretch;
	border: 0px;
	border-color: black;
	background: lightgrey;
	border-style: dashed;
	border-radius:4px;
	box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
	margin-bottom: 10px;
}

.crypto-logo{
	display: flex;
	flex: 1 1 30%;
	background-color: #32fff7;
	border-radius: 4px 0px 0px 4px;
	justify-content: center;

}

.crypto-logo img{
	order: 1;
	padding: 4px;
	height: 100px;
	width: 100px;
}

.currencyInfo{
	border: 0px;
	border-color: green;
	background: white;
	border-style: solid;
	flex: 1 1 40%;
	color: #4E5C6E;
}

.currencyInfo h3{
	align-self: left;
	font-size: 25px;
	text-align: left;
	padding-left: 4px;
	margin-top: 6px;
	margin-bottom: 8px;

}

.amountChangeBlock{
	text-align: center;
}

.cPrice {
	align-self: left;
	font-size: 14px;
	text-align: left;
	padding-left: 4px;
	margin-top: 6px;
	margin-bottom: 10px;
}

.timePeriod{
	text-align: center;
	color: #7D95B6;
	text-transform: uppercase;
	letter-spacing: .25px;
    white-space: nowrap;
    font-size: 10px;
}

.dollarChange{
	font-size: 20px;

}

.amountChangeSuper{
	position: relative;
    top: -5px;
    vertical-align: baseline;
    font-size: 14px;
    font-weight: 500
}
.amountChangeDirectionNegative{
	color: #4E5C6E;
}

.amountChangeDirectionPositive{
	color:#61CA00;
}


.currencyInput{
	display: flex;
	justify-content: center;
	flex-direction: column;
	background: white;
	color: #4E5C6E;
	align-items: center;
	flex: 1 1 20%;
	border-radius: 0px 4px 4px 0px;
}

.currencyInput input{
	align-self: center;
	font-size: 12px;

	background:#f1f1f1; 
	border-style: solid;
	border:1px solid #ccc; 
	height: 33%;
	width: 80%;
	border-radius: 4px;
	margin-bottom: 14px;
}
.currencyInput span{
	align-self: left;
	padding-left: 10px;
	padding-bottom: 2px;
}