* {-webkit-font-smoothing: antialiased;}

.update-portfolio {
  border-radius: 2px;
  border-top: 8px solid #103D5D;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  padding: 30px 18px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  margin-bottom: 34px;  
  width: 75%;
  min-width: 350px;
  margin-right: auto;
  font-size: 12px;
  font-weight: bold;
  font-weight: 600;
  letter-spacing: 0.3px;
  color: black;
}

.update-portfolio th {
	font-weight: 800;
	color: #000;
	font-size: 14px;
}



.update-portfolio button {
  text-align: center;
  margin: 10px;
  float: right;
}




